.navbar{
    background-color:#FFFFFF;
    opacity:95%;
}

.navbar .navbar-brand{
    font-family:gugi;
    color: #868686;
    font-size:30px;
}

.navbar .nav-item{
    padding:10px;
    font-size:18px;
}

.navbar button{
    margin-top:15%;
}
 
 
.carousel-caption h1{
    color:rgb(255, 255, 255);
    font-size:90px;
}

#MainImage{
    right:40%;
    bottom:20%;
}

 