html{
    max-width:1920px;
    margin: 0 auto;
}

.navbar{
    background-color:#FFFFFF;
    opacity:95%;
}

.navbar .navbar-brand{
    font-family:gugi;
    color: #868686;
    font-size:30px;
}

.navbar .nav-item{
    padding:10px;
    font-size:18px;
}

.navbar button{
    margin-top:15%;
}
 
 
.carousel-caption h1{
    color:rgb(255, 255, 255);
    font-size:90px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
    .navbar .navbar-brand{
        font-family:gugi;
        color: #868686;
        font-size:18px;
    }
    
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}


 